.btn-success {
  margin: 10px;
}

.buttons {
  margin: auto;
}

.card {
  width: 48%;
  /*height: 400px;*/
  float: left;
  margin: 5px;
}

.card-text {
  text-align: center;
}

body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
